:root{
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

}


*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--pale-blue);
    display: flex;
    min-height: 100vh;
    padding: 40px 0;
}

.card{
    margin: auto;
    width: 340px;
    background-color: #fff;
    border-radius: 2em;
    overflow: hidden;
}

.card::before{
    content: '';
    display: block;
    width: 100%;
    height: 180px;
    background-image: url('../images/illustration-hero.svg');
    background-size: cover;
    background-position: center;
}

.card-texts{
    padding: 2.5em 1.7em;
    text-align: center;
}

.car-title{
    font-size: 1.7rem;
    color: var(--dark-blue);
}

.card-paragraph{
    color: var(--desaturated-blue);
    line-height: 1.5;
    margin: 1.2em 0 1.5em;
}

.card-plan{
    display: flex;
    background-color: var(--very-pale-blue);
    padding: 1.2em 1em;
    align-items: center;
}

.card-icon{
    margin-right: 0.8em;
}

.card-name{
    font-size: 1rem;
    color: var(--dark-blue);
}

.card-change{
    margin-left: auto;
    color: var(--bright-blue);
}

.card-cta{
    display: block;
    background-color: var(--bright-blue);
    color: #fff;
    text-decoration: none;
    margin-top: 2em;
    border-radius: .5em;
    padding: 1em;
    font-weight: 700px;
    box-shadow: 0 10px 10px -8px var(--bright-blue);
}

.card-cta-gray{
    margin-top: .7em;
    background-color: #fff;
    color: var(--desaturated-blue);
    box-shadow: none;
}

@media (min-width:768px){
    body{
        background-image: url('../images/pattern-background-desktop.svg');
        background-repeat: no-repeat;
    }
}